<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>5E Pokemon Tools</title>
<meta name="description" content="5E Pokemon Tracker"/>
<link rel="icon" href="favicon.ico">

<link href="font/css/font-awesome.min.css" rel="stylesheet"/>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.slate.css" />
<script src="js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="js/home-ctrl.js"> </script>
</head>

<body>
	<div ng-app="homeApp" ng-controller="homeCtrl">
		<section class="col-md-12 col-sm-12">
			<h1 align="center">5E Pokemon</h1>
		</section>




		<div id="selectCharacter" class="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title">Select a Player</h5>
					</div>
					<div class="modal-body">
						<form>
								<div class="form-group">
									<label for="selectCharacter">Select Character</label>
									<select class="form-control" id="selectCharacter" ng-options="char.name for char in ctrl.availableCharacters track by char.id"
										ng-model="ctrl.selectedCharacter"></select>
								</div>
								<div class="form-group">
									<label for="inputPassword">Password</label>
									<input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="ctrl.inputedPassword" />
								</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-click="ctrl.loadChar()">Load Character</button>
					</div>
				</div><!-- end modal content -->
			</div>
		</div> <!-- end Character Modal -->
	</div> <!-- end ng-app -->
	
	
	
</body>



<style>	
	.col-sm-12 {
		padding-right: 5px;
		padding-left: 5px;
	}
	
	.noselect {
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
	}
</style>